
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    .input-style {
      border: none;
      border-bottom: 1px solid grey;
      background-color: whitesmoke;
      height: 45px;
      width: 500px;
      border-radius: 8px 8px 0 0;
      outline: none;
      margin-bottom: 15px;
      padding: 0 0 0 13px;
    }
    .internal-style {
      .internal-input-style {
        border: none;
        border-bottom: 1px solid grey;
        background-color: whitesmoke;
        height: 45px;
        width: 239px;
        border-radius: 8px 8px 0 0;
        outline: none;
        margin-bottom: 15px;
        padding: 0 0 0 13px;
      }
    }
    .mr{
      margin-right: 10px;
    }
  }
  