$borderbottomcolor: grey;
$tablehoverbgcolor: f1f1f1;
$textcolor: #2d3663;
* {
  color: $textcolor;
}

//heading style
h4 {
  padding-bottom: 20px;
  border-bottom: 1px solid $borderbottomcolor;
  span {
    padding: 15px;
  }
}

.inputfield {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  margin-right: 12px;
}

mat-icon:hover {
  cursor: pointer;
}
i {
  font-size: 30px;
  &:hover {
    cursor: pointer;
  }
}
//Filter style
// .mat-mdc-form-field {
//   float: right;
//   margin-bottom: 15px;
//   width: 300px;
//   mat-label{
//     font-weight: 500
//   }
//   input{
//     border: none;
//       outline: none;
//       background-color: white;
//       padding: 15px;
//       border-bottom: 1px solid grey;
//       border-radius: 8px 8px 0 0;
//       margin-top: 15px;
//   }
// }

// Table style
.table-btn {
  // background-color: #2d3663;
  // border-radius: 25px;
  // color: whitesmoke;
}
.mat-elevation-z8 {
  width: 100%;
  margin-top: 35px;
  .table-row:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }
}
.button-pending {
  float: right;
  margin-top: 15px;
  background-color: $textcolor;
  padding: 27px 20px;
  color: whitesmoke;
}