<div class="mainfooter">
  <div class="aboutus">
    <h1>About Us</h1>
    <p>
      City Hospital was established in the heart of the city of Ernakulam in
      1971 by a group of highly experienced doctors. It had many unique
      features, such as the first 24hr Casualty. It was one of the leading
      multispeciality hospital and had in its team many doctors renowned in the
      fields of surgery, Ortho, Cardio Thorax, Obstetrics and Gynecology,
      Paediatrics and Medicine. It offered a wide range of special services and
      delivered high quality healthcare with personal touch.
    </p>
    <div class="icon">
      <div class="childicon">
        <mat-icon>local_phone</mat-icon
        ><span class="span">Hotline: +3 (092) 508-38-01</span>
      </div>
      <div class="childicon">
        <mat-icon>location_on</mat-icon
        ><span class="span">Address: 23, Medical Str., New York, USA</span>
      </div>
      <div class="childicon">
        <mat-icon>access_time</mat-icon
        ><span class="span"> Mon-Sat: 8:00AM - 7:00PM </span>
      </div>
    </div>
  </div>
  <div class="adress"></div>
  <div class="links"></div>
</div>
