<mat-card>
  <h4 style="display: flex; align-items: center">
    <i class="fa-regular fa-pen-to-square" style="margin-right: 15px"></i
    ><span>Fill Visit Details</span>
  </h4>
  <form
    [formGroup]="myGroup"
    action="/submit-myForm"
    #visit="ngForm"
    method="post"
    (ngSubmit)="onSubmit(visit.value)"
    class="add-details"
  >
    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Height</mat-label>
        <mat-error *ngIf="myGroup.get('myInputheight')"
          >Height is required</mat-error
        >
        <input
          matInput
          type="number"
          placeholder="height in ft"
          name="height"
          [(ngModel)]="visitDetails.height"
          (keypress)="floatValidator($event)"
          min="1"
          max="10"
          step="1.10"
          class="form-control"
          formControlName="myInputheight"
        />
        <span matTextSuffix> ft</span>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Weight</mat-label>
        <mat-error *ngIf="myGroup.get('myInputweight')"
          >Weight is required</mat-error
        >
        <input
          matInput
          type="number"
          placeholder="Weight in kg"
          name="weight"
          [(ngModel)]="visitDetails.weight"
          (keypress)="floatValidator($event)"
          min="1"
          max="200"
          step="1.10"
          formControlName="myInputweight"
        />
        <span matTextSuffix> kgs</span>
      </mat-form-field>
    </div>
    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Respiration Rate</mat-label>
        <mat-error *ngIf="myGroup.get('myInputLastrespiration')"
          >Respiration Rate is required</mat-error
        >
        <input
          matInput
          type="number"
          placeholder="Repiration Rate"
          name="repirationRate"
          (keypress)="numValidator($event)"
          [(ngModel)]="visitDetails.repirationRate"
          min="1"
          max="50"
          step="1"
          formControlName="myInputLastrespiration"
        />
        <span matTextSuffix> breaths/minute</span>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Body Temperature</mat-label>
        <mat-error *ngIf="myGroup.get('myInputtemperature')"
          >Body Temperatureis required</mat-error
        >
        <input
          matInput
          type="number"
          placeholder="Body Temperature"
          name="bodyTemperature"
          [(ngModel)]="visitDetails.bodyTemperature"
          step="1.01"
          (keypress)="floatValidator($event)"
          min="1"
          max="100"
          step="1.10"
          formControlName="myInputtemperature"
        />
        <span matTextSuffix> C</span>
      </mat-form-field>
    </div>

    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Blood Pressure Systolic</mat-label>
        <mat-error *ngIf="myGroup.get('myInputsystolic')"
          >Blood Pressure Systolic is required</mat-error
        >
        <input
          matInput
          (keypress)="numValidator($event)"
          type="number"
          placeholder="Blood Pressure Systolic"
          name="bpSystolic"
          [(ngModel)]="visitDetails.bpSystolic"
          min="1"
          max="200"
          step="1"
          formControlName="myInputsystolic"
        />
        <span matTextSuffix> mm Hg</span>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Blood Pressure Diastolic</mat-label>
        <mat-error *ngIf="myGroup.get('myInputdiastolic')"
          >Blood Pressure Diastolic is required</mat-error
        >
        <input
          matInput
          type="number"
          (keypress)="numValidator($event)"
          placeholder="Blood Pressure Diastolic"
          name="bpDiastolic"
          [(ngModel)]="visitDetails.bpDiastolic"
          min="1"
          max="200"
          step="1"
          formControlName="myInputdiastolic"
        />
        <span matTextSuffix>mm Hg</span>
      </mat-form-field>
    </div>
    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Allergies</mat-label>
        <mat-error *ngIf="myGroup.get('myInputallergies')"
          >Allergies is required</mat-error
        >
        <mat-select
          name="allergyName"
          [(ngModel)]="visitDetails.allergyName"
          formControlName="myInputallergies"
        >
          <mat-option>None</mat-option>
          <mat-option *ngFor="let a of allergy" [value]="a.allergyName">{{
            a.allergyName
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Select BloodGroup</mat-label>
        <mat-error *ngIf="myGroup.get('myInputbloodGroup')"
          >Blood Group is required</mat-error
        >
        <mat-select
          formControlName="myInputbloodGroup"
          name="bloodGroup"
          [(ngModel)]="visitDetails.bloodGroup"
        >
          <mat-option
            *ngFor="let bloodGroup of bloodGroups"
            [value]="bloodGroup.value"
            [disabled]="isDisabled"
          >
            {{ bloodGroup.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div *ngIf="visitDetails.height.errors?.[''] || visitDetails.weight.errors?.['required'] || visitDetails.repirationRate.errors?.['required'] 
    || visitDetails.bodyTemperature.errors?.['required'] || visitDetails.bpSystolic.errors?.['required'] || visitDetails.bpDiastolic.errors?.['required'] || visitDetails.allergyName.errors?.['required'] || visitDetails.keyNotes.errors?.['required']  ">
      *All fields is required.
    </div>
    <div *ngIf="visitDetails.keyNotes.errors?.['maxlength']">
      Enter any Keynotes for Physician
    </div> -->
    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Notes</mat-label>
        <mat-error *ngIf="myGroup.get('myInputKeynotes')"
          >Notes is required</mat-error
        >
        <input
          matInput
          placeholder="Any Notes of physician"
          name="keyNotes"
          [(ngModel)]="visitDetails.keyNotes"
          required
          maxlength="100"
          formControlName="myInputKeynotes"
        />
      </mat-form-field>
      <button
        type="submit"
        name="submit"
        mat-raised-button
        (click)="openDialogBox()"
        (click)="actionMethod(); clicked = true"
        color="primary"
        class="submit"
        [disabled]="!myGroup.valid"
        
      >
        Save
      </button>
    </div>
  </form>
</mat-card>