$borderbottomcolor: grey;
$tablehoverbgcolor: #f1f1f1;
$white: #ffffff;
$textcolor: #2d3663;

* {
  color: $textcolor;
}

//heading style
h4 {
  padding-bottom: 20px;
  border-bottom: 1px solid $borderbottomcolor;
  span {
    padding: 15px;
  }
}

img {
  width: 2%;
  margin-right: 15px;
}
//heading style
.top {
  padding-bottom: 20px;
  border-bottom: 1px solid $borderbottomcolor;
  font-weight: 600;
  font-size: 17px;
  padding-top: 25px;
}

.mainclass {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  .childclass {
    background-color: #fff;
    border: 1px solid #e4e9f0;
    border-top: 5px solid #2d3663;
    padding: 35px 31px;
    margin-right: 50px;
    span {
      font-weight: 500;
    }
  }
  .childclass1 {
    width: 25%;
  }
  .childclass2 {
    width: 40%;
  }
  .childclass3 {
    width: 35%;
  }
}
.historybtn {
  margin-top: 15px;
}
button {
  // float: right;
  margin-top: 15px;
  background-color: #2d3663;
  padding: 27px 20px;
  span {
    color: whitesmoke;
  }
}
.btn {
  background-color: $textcolor;
  padding: 27px 20px;
  color: whitesmoke;
  margin-top: 25px;
}
.tableclass {
  h4 {
    border: none;
  }
  .table-row:hover {
    background-color: whitesmoke;
    cursor: pointer;
  }
}
.btn-class {
  margin-top: 15px;
  margin-right: 15px;
}
.editdelete {
  display: flex;
  padding: 15px 10px 15px 10px;
  .btn1 {
    margin-right: 10px;
    border: 0.5px solid green;
    mat-icon {
      color: green;
      margin-left: auto;
    }
    &:hover {
      background-color: rgb(149, 228, 149);
    }
  }
  .btn2 {
    border: 0.5px solid red;
    mat-icon {
      color: red;
      margin-left: auto;
    }
    &:hover {
      background-color: rgb(241, 192, 192);
    }
  }
}
form {
  font-weight: 500;
  textarea {
    border: none;
    background: $white;
    border-bottom: 1px solid gray;
    border-radius: 5px 5px 0 0;
    outline: none;
    font-size: 18px;
  }
}
.bottom-btn {
  float: right;
  padding-bottom: 40px;
  border: none;
  .btn-class1 {
    background-color: white;
  }
}