.datepicker{
    padding: 10px;
}
.selectDoctor{
    padding: 10px;
}
h3{
    text-align: center;
}
.note{
    padding: 10px;
}
.submit{
    text-align: right;
    padding: 10px;
}
.book{
    margin: 10px;
    padding: 10px;
}
.cancel{
    margin: 10px;
    padding: 10px;
}

.main{
    padding: 20px;
    width: 600px;
    align-items: center;
}

.dropdown{
    width: 400px;
    
}