$borderbottomcolor: grey;
.example-card {
  max-width: 100%;
  margin-bottom: 8px;
  margin-top: 20px;
}
.mat-elevation-z8 {
  width: 100%;
  margin-top: 15px;
  .table-row:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
}
table {
  width: 100%;
  margin-top: 40px;
}

.classParent {
  display: flex;
}
.parent1{
  display: flex;
  .child1{
   width: 40%;
  }
  .child2{
   width: 60%;
   .child21{
    float: right;
    margin-right: 15px;
   }
  }
}

.submit {
  background: none;
  border: none;
  background-color: #2d3663;
  padding: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}