$navbarbgcolor: #32a7f1;
$textcolor: #111111;
$whitesmoke: whitesmoke;
$textcolorhover: #2d3663;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Materia+Icons");

//google font imort for text
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Inter", "Roboto", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
mat-icon {
  color: $textcolor;
  font-family: "material Icons";
  vertical-align: middle;
  cursor: pointer;
}
.navbar {
  .top {
    margin-top: 15px;
    padding: 8px;
    margin-left: 160px;
    font-size: 15px;
  }
  .user {
    text-align: center;
    font-weight: 800;
    margin-bottom: 75px;
    img {
      margin-top: 16px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
    .name {
      color: $textcolor;
    }
    .mail {
      margin-top: -10px;
      color: $textcolorhover;
    }
  }
}
.menu {
  .menu-head {
    color: $textcolor;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .menu-item {
    margin: 0 10px 0 10px;
    .menu-button {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      padding-left: 40px;
      margin-bottom: 10px;
      span {
        color: $textcolor;
        font-weight: 600;
      }
      &:hover {
        background-color: white;
      }
      &:focus {
        background-color: $whitesmoke;
      }
    }
  }
}
