  <div class="formdivclass">
    <form class="formclass" [formGroup]="myGroup" (ngSubmit)=onSubmit()  method="post" action="/submit-myForm">
    <!-- [formGroup]="myForm">  -->
      <h1>Registration</h1>
      <p>For New Patient</p>
      <div class="space-evenly">
        <mat-form-field appearance="outline" class="width-50">
          <mat-label>Title</mat-label>
          <!-- <mat-error *ngIf="myGroup.hasError('required')">Title is required</mat-error> -->
          <mat-error *ngIf="myGroup.get('myInputTitle')">Title is required</mat-error>

          <mat-select id="title" name="title" [(ngModel)]="user.title"  formControlName="myInputTitle">
            <mat-option value="Mr">Mr</mat-option>
            <mat-option value="Ms">Ms</mat-option>
            <mat-option value="Miss">Miss</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline" class="width-50">
          <mat-label>First Name</mat-label>
          <input matInput name="firstName" [(ngModel)]="user.firstName" formControlName="myInputFirst">
          <mat-error *ngIf="myGroup.get('myInputFirst')">First Name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-50">
          <mat-label>Last Name</mat-label>
          <input matInput name="lastName" [(ngModel)]="user.lastName"  formControlName="myInputLast">
          <mat-error *ngIf="myGroup.get('myInputLast')">Last Name is required</mat-error>

        </mat-form-field>
      </div>

      <div class="space-evenly">
        <mat-form-field appearance="outline" class="width-50">
          <!-- <mat-label>Email*</mat-label> -->
          <!-- <input
              matInput
              name="email"
              placeholder="Ex. pat@example.com"
              [(ngModel)]="user.email"
            /> -->
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="user.email"
            name="email" formControlName="myInputEmail">
            <mat-error *ngIf="myGroup.get('myInputEmail')">Email is required</mat-error>
  <mat-error *ngIf="myGroup.get('email')">Invalid email address</mat-error>
          <!-- <mat-error
            *ngIf="
              emailFormControl.hasError('email') &&
              !emailFormControl.hasError('required')
            "
          >
            Please enter a valid email address
          </mat-error> -->
          <!-- <mat-error *ngIf="emailFormControl.hasError('required')"> -->
            <!-- Email is required -->
          <!-- </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-50">
          <mat-label>Contact Number</mat-label>
          <input
          maxlength="10"
            matInput
            name="contactNumber"
            [(ngModel)]="user.contactNumber" formControlName="myInputContact">
          <mat-error *ngIf="myGroup.get('myInputContact')">Phone number is required</mat-error>
  <!-- <mat-error *ngIf="myGroup.get('phoneNumber')">Invalid phone number</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-50">
          <mat-label>DOB </mat-label>
          <mat-error *ngIf="myGroup.get('myInputDob')">DOB is required</mat-error>

          <input
            matInput
            name="dob"
            [matDatepicker]="picker"
            [(ngModel)]="user.dob"
            formControlName="myInputDob"
          />
          
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="space-evenly">
        <mat-form-field appearance="outline" class="width-50">
          <mat-label>Gender</mat-label>
          <mat-error *ngIf="myGroup.get('myInputGender')">Gender is required</mat-error>
          <mat-select id="gender" name="gender" [(ngModel)]="user.gender" formControlName="myInputGender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" placeholder="Enter your password" formControlName="password1" required [(ngModel)]="user.password">
          <!-- <mat-error *ngIf="passwordFormControl.hasError('required')">Password is required</mat-error> -->
        <mat-error *ngIf="myGroup.get('password1')">Password Is Required</mat-error>
        
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" placeholder="Confirm your password" formControlName="confirmPassword" required>
          <mat-error *ngIf="myGroup.get('confirmPassword')">Confirm password is required</mat-error>
          <div *ngIf="confirmPasswordFormControl.errors && confirmPasswordFormControl.errors.mismatch">{{ confirmPasswordFormControl() }}</div>
        </mat-form-field>



<!-- 
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" placeholder="Enter your password" [(ngModel)]="user.password" formControlName="password1" required>
          <mat-error *ngIf="passwordFormControl.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" placeholder="Confirm your password" formControlName="confirmPassword" required>
          <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">Confirm password is required</mat-error> 
          <div *ngIf="confirmPasswordFormControl.errors && confirmPasswordFormControl.errors.mismatch">{{ confirmPasswordFormControl.errors.message }}</div>
        
        
        
        </mat-form-field> 

          <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            placeholder="Enter your password"
            formControlName="password1"
            required
            [(ngModel)]="user.password"
          />
           <mat-error *ngIf="passwordFormControl.hasError('required')"
            >Password is required</mat-error
          > 
        </mat-form-field>
         <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            placeholder="Confirm your password"
            formControlName="confirmPassword"
            required
          />
          <mat-error *ngIf="confirmPasswordFormControl.hasError('required')"
            >Confirm password is required</mat-error
          >
          <div
            *ngIf="
              confirmPasswordFormControl.errors &&
              confirmPasswordFormControl.errors.mismatch
            "
          >
            {{ confirmPasswordFormControl.errors.message }}
          </div>
        </mat-form-field>  -->
        <!-- <mat-form-field appearance="outline" class="width-50">
          <mat-label>Password*</mat-label>
          <input
            matInput
            name="password"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="user.password"
          [formControl]="passwordInput">
          <mat-error *ngIf="passwordInput.get('password')?.hasError('required')">Password is required.</mat-error> -->

          <!-- <button mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          > -->
            <!-- <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button> -->
        <!-- </mat-form-field> 
        <mat-form-field appearance="outline" class="width-50">
          <mat-label>Confirm Password*</mat-label>
          <input
            matInput
            name="confirmPassword"
            [type]="hide ? 'password' : 'text'"
          formControlName="confirmPassword">
          <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">Confirm Password is required.</mat-error>
          <mat-error *ngIf="passwordForm.hasError('passwordMismatch')">Passwords do not match.</mat-error> -->
      
        <!-- </mat-form-field> -->
      </div>

      <div class="space-evenly">

        <mat-form-field appearance="outline" class="width-50">
          <mat-label>Blood Group</mat-label>
          <mat-error *ngIf="myGroup.get('myInputGender')">Blood Group is required</mat-error>
          <mat-select id="gender" name="gender" [(ngModel)]="user.gender" formControlName="myInputGender">
            <mat-option value="A+">A+</mat-option>
            <mat-option value="A-">A-</mat-option>
            <mat-option value="B+">B+</mat-option>
            <mat-option value="B-">B-</mat-option>
            <mat-option value="O+">O+</mat-option>
            <mat-option value="O-">O-</mat-option>
            <mat-option value="AB+">AB+</mat-option>
            <mat-option value="AB-">AB-</mat-option>

          </mat-select>
        </mat-form-field>
    

        <mat-form-field appearance="outline" class="width-50" class="addressClass">
          <mat-label>Address</mat-label>
          <input matInput name="address" [(ngModel)]="user.address" formControlName="myInputAddress">
          <mat-error *ngIf="myGroup.get('myInputAddress')">Address is required</mat-error>
        </mat-form-field>

        
      </div>

      <button mat-raised-button color="primary" type="submit" style="float: right;" [disabled]="!myGroup.valid">Submit</button>
      <span> Register User? </span>
      <button
        mat-stroked-button
        routerLink="/patient/login"
        routerLinkActive="active current"
      >
        Login
      </button>
    </form>
  </div>
<!-- </div> -->
<router-outlet></router-outlet>
