<div class="main111">
    <h2 style="color: black">Add Doctor</h2>
    <form class="form">

        <mat-form-field appearance="fill" class="formFields">
            <mat-label>Doctor Speciality</mat-label>
            <mat-select>
                <mat-option value="one">Cardiologist</mat-option>
                <mat-option value="two">Neurologist</mat-option>
                <mat-option value="two">allergist</mat-option>
                <mat-option value="two">Psychiatrist</mat-option>
            </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="formFields">
            <mat-label>Doctor Email</mat-label>
            <input matInput placeholder="pat@example.com" required>
            <!-- <input matInput placeholder="pat@example.com" formControl="email" required> -->
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill" class="formFields">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>

    <div style="margin-left: 200px" display="inline-block">
        <button style="margin: 5px" mat-raised-button color="primary" type="submit" value="submit">
            Save
        </button>
        <button mat-raised-button color="warn" type="button" (click)="onNoClick()">
            Cancel
        </button>
    </div>

</div>