.prescription {
  padding: 15px;
  span {
    font-weight: 500;
  }
}
table {
  width: 100%;
  box-shadow: none;
}
.table-row:hover {
  background-color: whitesmoke !important;
  cursor: pointer;
}
  