<mat-card>
  <h4 style="display: flex; align-items: center">
    <i class="fa-regular fa-pen-to-square" style="margin-right: 15px"></i
    ><span>Fill Visit Details</span>
  </h4>
  <form #visit="ngForm" (ngSubmit)="onSubmit(visit.value)" class="add-details">
    <div 
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Height</mat-label>
        <input
          matInput
          type="number"
          placeholder="height in ft"
          name="height"
          [(ngModel)]="visitDetails.height" 
        />
        <span matTextSuffix> ft</span>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Weight</mat-label>
        
        <input

          matInput
          type="number"
          placeholder="Weight in kg"
          name="weight"
          [(ngModel)]="visitDetails.weight"
        />
        <span matTextSuffix> kgs</span>
      </mat-form-field>
    </div>
    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Respiration Rate</mat-label>
        <input
          matInput
          type="number"
          placeholder="Repiration Rate"
          name="repirationRate"
         
          [(ngModel)]="visitDetails.repirationRate"
        />
        <span matTextSuffix> breaths/minute</span>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Body Temperature</mat-label>
        <input
          matInput
          type="number"
          placeholder="Body Temperature"
          name="bodyTemperature"
          [(ngModel)]="visitDetails.bodyTemperature"
          step=1.01
        />
        <span matTextSuffix> C</span>
      </mat-form-field>
    </div>

    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Blood Pressure Systolic</mat-label>
        <input
          matInput
         
          type="number"
          placeholder="Blood Pressure Systolic"
          name="bpSystolic"
          [(ngModel)]="visitDetails.bpSystolic"
        />
        <span matTextSuffix> mm Hg</span>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Blood Pressure Diastolic</mat-label>
        <input
          matInput
          type="number"
         
          placeholder="Blood Pressure Diastolic"
          name="bpDiastolic"
          [(ngModel)]="visitDetails.bpDiastolic "
        />
        <span matTextSuffix>mm Hg</span>
      </mat-form-field>
    </div>
    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Allergies</mat-label>
        <mat-select name="allergyName" [(ngModel)]="visitDetails.allergyName">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let a of allergy" [value]="a.allergyName">{{
            a.allergyName
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        
        style="width: 40%"
      >
        <mat-label>Select BloodGroup</mat-label>
        <mat-select name="bloodGroup" [(ngModel)]="visitDetails.bloodGroup">
          <mat-option
            *ngFor="let bloodGroup of bloodGroups"
            [value]="bloodGroup.value" [disabled]="isDisabled"
          >
            {{ bloodGroup.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div
      class="formfield"
      style="display: flex; justify-content: space-between"
    >
      <mat-form-field appearance="outline" style="width: 40%">
        <mat-label>Notes</mat-label>
        <input
          matInput
          placeholder="Notes"
          name="keyNotes"
          [(ngModel)]="visitDetails.keyNotes"
         
        />
        <!-- <mat-hint align="end" >{{keyNotes.value.length}}/60</mat-hint> -->
       
       
       
        <!-- <mat-error *ngIf="keyNotes.errors?.['minlength']" >
          Enter atleast 5-60 words
        </mat-error> -->
      </mat-form-field>
      <button
        type="submit"
        name="submit"
        mat-raised-button
        (click)="openSnackBar()"
       
        (click)="actionMethod(); clicked = true"
        color="primary"
        class="submit"
      >
        Save
      </button>
    </div>
  </form>
</mat-card>