<!-- <mat-card class="Welcome">
    <mat-icon>person</mat-icon>
    <mat-card-header>
        <mat-card-title>Welcome Admin!</mat-card-title>
    </mat-card-header>
    <br>
</mat-card> -->
<h4>
  <i class="fa-solid fa-person-dots-from-line" style="font-size: 20px"></i
  ><span>Welcome Admin</span>
</h4>

<mat-card class="Card">
  <mat-card-title>Doctors</mat-card-title>
  <br />
  <i class="fa-solid fa-user-doctor" style="font-size: 35px;"></i
><br/>{{dCount}}</mat-card>
<mat-card class="Card">
  <mat-card-title>Patients</mat-card-title>
  <br />
  <i class="fa-sharp fa-solid fa-bed-pulse" style="font-size: 35px;"></i><br/>{{pCount}}
</mat-card>
<mat-card class="Card">
  <mat-card-title>Nurses</mat-card-title>
  <br />
  <i class="fa-solid fa-user-nurse" style="font-size: 35px;"></i> <br/>{{nCount}} </mat-card
><mat-card class="Card">
  <mat-card-title>Total Appointments</mat-card-title>
  <br />
  <i class="fa-regular fa-calendar-check" style="font-size: 35px;"></i
>
<br/>{{aCount}}
</mat-card>

<mat-card class="mainCard">
  <div class="buttons">
    <!-- <button mat-raised-button color="primary" class="button" routerLink="patient-info">
            View Registered Patient Info
        </button>
        <button mat-raised-button color="warn" class="button" routerLink="doctor-availability">
            Docotor Availability Schedule
        </button> -->

    <a href="https://manage.auth0.com/dashboard/us/dev-qnzlgih035ihuldo/users">
      <button mat-raised-button color="primary" class="button">
        Add Doctor
      </button>
    </a>

    <a href="https://manage.auth0.com/dashboard/us/dev-qnzlgih035ihuldo/users">
      <button mat-raised-button color="primary" class="button">
        Add Nurse
      </button>
    </a>

    <a href="https://manage.auth0.com/dashboard/us/dev-qnzlgih035ihuldo/users">
      <button mat-raised-button color="primary" class="button">
        Add Admin
      </button>
    </a>
  </div></mat-card
>