<mat-card>
    <h4 style="display: flex; align-items: center">
      <i class="fa-regular fa-pen-to-square" style="margin-right: 15px"></i
      ><span>Fill Details</span>
    </h4>
    <form #visit="ngForm" (ngSubmit)="onSubmit(visit.value)" class="add-details">
      <div
        class="formfield"
        style="display: flex; justify-content: space-between"
      >
        <mat-form-field appearance="outline" style="width: 40%">
          <mat-label>Height</mat-label>
          <input
            matInput
            type="number"
            placeholder="height in cms"
            name="height"
            [(ngModel)]="visitDetails.height"
            step="any"
          />
        </mat-form-field>
  
        <mat-form-field appearance="outline" style="width: 40%">
          <mat-label>Weight</mat-label>
          <input
            matInput
            type="number"
            placeholder="Weight in kg"
            name="weight"
            step="any"
            [(ngModel)]="visitDetails.weight"
          />
        </mat-form-field>
      </div>
      <div
        class="formfield"
        style="display: flex; justify-content: space-between"
      >
        <mat-form-field appearance="outline" style="width: 40%">
          <mat-label>Respiration Rate</mat-label>
          <input
            matInput
            type="number"
            placeholder="repirationRate"
            name="repirationRate"
            [(ngModel)]="visitDetails.repirationRate"
          />
        </mat-form-field>
  
        <mat-form-field appearance="outline" style="width: 40%">
          <mat-label>Body Temperature</mat-label>
          <input
            matInput
            type="number"
            placeholder="bodyTemperature"
            name="bodyTemperature"
            [(ngModel)]="visitDetails.bodyTemperature"
          />
        </mat-form-field>
      </div>
  
      <div
        class="formfield"
        style="display: flex; justify-content: space-between"
      >
        <mat-form-field appearance="outline" style="width: 40%">
          <mat-label>BP Systolic</mat-label>
          <input
            matInput
            type="number"
            placeholder="BPsystolic"
            name="bpSystolic"
            [(ngModel)]="visitDetails.bpSystolic"
          />
        </mat-form-field>
  
        <mat-form-field appearance="outline" style="width: 40%">
          <mat-label>BP Dystolic</mat-label>
          <input
            matInput
            type="number"
            placeholder="BPdiastolic"
            name="bpDiastolic"
            [(ngModel)]="visitDetails.bpDiastolic"
          />
        </mat-form-field>
      </div>
      <div
        class="formfield"
        style="display: flex; justify-content: space-between"
      >
        <mat-form-field appearance="outline" style="width: 40%">
          <mat-label>Allergies</mat-label>
          <mat-select name="allergyName" [(ngModel)]="visitDetails.allergyName">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let a of allergy" [value]="a.allergyName">{{
              a.allergyName
            }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field
          appearance="outline"
          *ngIf="visitDetailsForBloodGroup.bloodGroup.length > 0"
          style="width: 40%"
        >
          <mat-label>{{ visitDetailsForBloodGroup.bloodGroup }}</mat-label>
          <mat-select
            name="bloodGroup"
            [(ngModel)]="visitDetails.bloodGroup"
            disabled
          >
          </mat-select>
        </mat-form-field>
  
        <mat-form-field
          appearance="outline"
          *ngIf="visitDetailsForBloodGroup.bloodGroup.length === 0"
          style="width: 40%"
        >
          <mat-label>Select BloodGroup</mat-label>
          <mat-select name="bloodGroup" [(ngModel)]="visitDetails.bloodGroup">
            <mat-option
              *ngFor="let bloodGroup of bloodGroups"
              [value]="bloodGroup.value"
            >
              {{ bloodGroup.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div
        class="formfield"
        style="display: flex; justify-content: space-between"
      >
        <mat-form-field appearance="outline" style="width: 40%">
          <mat-label>Notes</mat-label>
          <input
            matInput
            placeholder="Notes"
            name="keyNotes"
            [(ngModel)]="visitDetails.keyNotes"
          />
        </mat-form-field>
        <button
          type="submit"
          name="submit"
          mat-raised-button
          (click)="openSnackBar()"
          [disabled]="clicked"
          (click)="actionMethod(); clicked = true"
          color="primary"
          class="submit"
        >
          Save
        </button>
      </div>
    </form>
  </mat-card>