<div class="form">
    <h2>Add Doctor</h2>
    <form #doctor="ngForm" (ngSubmit)="onClickSubmit()">
        <mat-form-field  appearance="outline" class="formFields">
            <mat-label>Doctor Email</mat-label>
            <input 
            [(ngModel)]="adddoc.email"
            name="email" 
            type="email"
            matInput placeholder="Email ID" 
            required
            >
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline" class="formFields" >
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="adddoc.firstName" name="first_name" matInput placeholder="First Name" required />
          </mat-form-field>
    

        <mat-form-field appearance="outline" class="formFields">
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="adddoc.lastName" name="last_name" matInput placeholder="First Name" required />
          </mat-form-field>
        <br>

        <mat-form-field appearance="outline" class="formFields">
            <mat-label>Speciality</mat-label>
            <mat-select [(ngModel)]="adddoc.speciality" name="speciality">
                <mat-option value="Cardiologist">Cardiologist</mat-option>
                <mat-option value="Neurologist">Neurologist</mat-option>
                <mat-option value="Gynacologist">Gynacologist</mat-option>
                <mat-option value="Pediatrition">Pediatrition</mat-option>
                <mat-option value="Pathologist">Pathologist</mat-option>
                <mat-option value="Orthopedist">Orthopedist</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        
        <mat-form-field appearance="outline" class="formFields">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="adddoc.password" name="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

    <div >
        <button class="buttons" mat-raised-button color="primary" type="submit" value="submit">
            Save
        </button>
        <button class="buttons" mat-raised-button color="warn" type="button" (click)="onNoClick()">
            Cancel
        </button>
    </div>
</form>
</div>