.form {
  text-align: center;
  padding: 2%;
  .formFields {
    color: black;
    text-align: center;
    padding: 2%;
    width: 80%;
  }

  .buttons {
    padding: 2%;
    margin: 2%;
  }
}

h2 {
  text-align: center;
  color: navy;
}
