<div class="main">
    <div class="formdivclass">
      <form action="" class="formclass" (ngSubmit)="onSubmit()">
        <h1>Registration</h1>
        <p>For New Patient</p>
        <div class="space-evenly">
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>Title</mat-label>
            <mat-select id="title" name="title" [(ngModel)]="user.title">
              <mat-option value="Mr">Mr</mat-option>
              <mat-option value="Ms">Ms</mat-option>
              <mat-option value="Miss">Miss</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>First Name*</mat-label>
            <input matInput name="firstName" [(ngModel)]="user.firstName" />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>Last Name*</mat-label>
            <input matInput name="lastName" [(ngModel)]="user.lastName" />
          </mat-form-field>
        </div>
  
        <div class="space-evenly">
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>Email*</mat-label>
            <input
              matInput
              name="email"
              placeholder="Ex. pat@example.com"
              [(ngModel)]="user.email"
            />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>Contact Number*</mat-label>
            <input
              matInput
              name="contactNumber"
              [(ngModel)]="user.contactNumber"
            />
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>DOB </mat-label>
            <input
              matInput
              name="dob"
              [matDatepicker]="picker"
              [(ngModel)]="user.dob"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
  
        <div class="space-evenly">
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>Gender</mat-label>
            <mat-select id="gender" name="gender" [(ngModel)]="user.gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>Password*</mat-label>
            <input
              matInput
              name="password"
              [type]="hide ? 'password' : 'text'"
              [(ngModel)]="user.password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="width-50">
            <mat-label>Confirm Password*</mat-label>
            <input
              matInput
              name="confirmPassword"
              [type]="hide ? 'password' : 'text'"
            />
            <!-- <button mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button> -->
          </mat-form-field>
        </div>
        <div class="address">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput name="address" [(ngModel)]="user.address" />
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
        </div>
  
        <button mat-raised-button color="primary" >Submit</button>
        <span> Register User? </span>
        <button
          mat-stroked-button
          routerLink="/patient/login"
          routerLinkActive="active current"
        >
          Login
        </button>
      </form>
    </div>
  </div>
  <router-outlet></router-outlet>
  