* {
    color: #2d3663;
  }
  h4 {
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    font-size: 17px;
    span {
      padding: 15px;
    }
  }
  table {
    width: 100%;
    margin-top: 40px;
  }
  .example-card {
    max-width: 100%;
    margin-bottom: 8px;
  }
  
  .heading {
    font-weight: bold;
    font-size: large;
    color: darkblue;
  
    margin: 30px;
  }