$navbarbgcolor: #32a7f1;
$bodybgcolor: #ecf9ff;
$textcolor: #111111;
$texthovercolor: #0f172a;
mat-sidenav {
  background-color: $navbarbgcolor;
  width: 230px;
  height: 100%;
  border: none;
  box-shadow: -9px 75px 15px 10px grey;
}
mat-sidenav-content {
  height: 100vh;
  overflow-y: auto;
  background-color: $bodybgcolor;
  
  // background-image: url("https://images.unsplash.com/photo-1611689102192-1f6e0e52df0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1233&q=80");
  background-image: url("https://images.unsplash.com/photo-1611690828749-66c846dbd1b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .main {
    margin-left: 30px;
    width: 95%;
  }
}
mat-toolbar {
  background-color: $navbarbgcolor;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  position: sticky;
  top: 0;
  z-index: 9;
  mat-icon {
    margin-left: 20px;
    color: $textcolor;
    cursor: pointer;
  }
  justify-content: space-between;
  .box {
    margin-top: 15px;
    .box-item:hover {
      color: $texthovercolor;
      cursor: pointer;
    }
    .box-badge {
      position: absolute;
      margin-top: -36px;
      margin-left: -36px;
    }
    .box-btn {
      mat-icon {
        margin-left: 0;
      }
    }
  }
}
