<h4>
  <mat-icon>calendar_today</mat-icon
  ><span>Patient Previous Appointment details</span>
</h4>
<div class="parent">
  <div class="child1"><app-patientinfo></app-patientinfo></div>
  <div class="child2" *ngIf="show">
    <app-previousappointment></app-previousappointment>
  </div>
  <div class="child2" *ngIf="!show">
    <p>Patients no previous history</p>
  </div>
</div>

<div class="parent1" *ngIf="show"><app-expandable></app-expandable></div>
<div
  style="display: flex; margin: 15px; align-items: center; justify-content: end"
  *ngIf="show"
>
  <span style="margin-right: 15px">View Patient Previous Health Records </span>
  <button
    mat-button
    mat-stroked-button
    color="primary"
    class="menu-button"
    [routerLink]="['/nurse/healthrecords']"
  >
    <i class="fa-solid fa-eye" style="font-size: 20px"></i>
  </button>
</div>

<div *ngIf="showForm"><app-addvisitdetails></app-addvisitdetails></div>
<div *ngIf="showVisitDetails">
  <app-currentvisitdetails></app-currentvisitdetails>
</div>

<div>
  <button
    mat-button
    mat-stroked-button
    color="primary"
    [routerLink]="['/nurse/dashboard']"
    mat-strioked-button
    color="primary"
    class="submit closebtn"
  >
    <span>Close</span>
  </button>
</div>
