img {
  //   filter: invert(1);
  //   margin-top: 27px;
  height: 30px;
  //   margin-right: 15px;
  //   margin-bottom: 18px;
  float: left !important;
}
.box {
  //   margin-top: 15px;

  .box-item:hover {
    color: #0f172a;
    cursor: pointer;
    text-decoration: none;
  }
}
.toolbar {
  flex-direction: row-reverse;
  background-color: #159895;
  //   position: absolute;
  //   top: 0
  position: fixed;
  z-index: 9;
}
// .main {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
//     url("https://images.unsplash.com/photo-1624204921625-49bb8dce6730?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
//   /* Full height */
//   height: 205%;

//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
