<!-- <div *ngIf="showOTP">
    <form (ngSubmit)="verifyOTP()">
      <div class="form-group">
        <label for="otp">OTP:</label>
        <input type="text" name="otp" [(ngModel)]="userOtp" required />
        <div *ngIf="showIncorrectOTP">
          <span class="error">The OTP you entered is incorrect.</span>
        </div>
      </div>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        *ngIf="verifybutton"
      >
        Verify OTP
      </button>
    </form>
  </div> -->