.herosection {
  //   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //     url("https://images.unsplash.com/photo-1666214278812-83371e46279f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8OHx8aG9zcGl0YWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("http://holamed.like-themes.com/wp-content/uploads/2018/11/SLIDE_01.jpg");

  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 9;
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 55px 33px;
    flex-direction: column;
    h1 {
      font-size: 4em;
      color: white;
      span {
        color: #47ccc8;
      }
    }
    p {
      font-size: 1.1em;
      color: white;
    }
    h1,
    p {
      text-align: center;
    }
    .btnclass {
      // width: 50%;
      // justify-content: center;
      // margin-left: auto;
      // margin-right: auto;
      // padding: 25px;
      font-size: 17px;
      // background-color: #47ccc8;
      color: #2d3663;
      border: none;
    }
    .upsale-button {
      position: relative;
      z-index: 0;
      height: 40px;
      overflow: hidden;
      border: none !important;
      padding: 3px !important;
      // width: 200px;
      background: #47ccc8 !important;
      color: #656565;
      background: white;
      border-radius: 8px;
      width: 200px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      box-shadow: 0 4px 50px 0 rgb(0 0 0 / 7%);
      transition: 0.2s all linear;
      text-decoration: initial;
      margin-left: auto;
      margin-right: auto;
      a{
        text-decoration: none;
      }
    }

    .upsale-button span {
      position: relative;
      z-index: 1;
      height: calc(100% - 4px);
      width: calc(100% - 4px);
      top: 2px;
      left: 2px;
      align-items: center;
      display: flex;
      justify-content: center;
      border-radius: 8px;
      color: white;
      background: #47ccc8;
    }

    .upsale-button:after {
      content: "";
      position: absolute;
      z-index: -2;
      left: -50%;
      top: -50%;
      width: 200%;
      height: 200%;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      -webkit-animation: rotate 2s linear infinite;
      animation: rotate 2s linear infinite;
    }

    @-webkit-keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .herosection {
    height: 50vh !important;
    .centered {
      top: 27% !important;
      padding: 0 !important;
      h1 {
        font-size: 1.5rem;
      }
      p {
        font-size: 10px !important;
      }
      .upsale-button {
        height: 30px !important;
        width: 50% !important;
        .btnclass {
          font-size: 13px !important;
          font-weight: 600 !important;
        }
      }
    }
  }
}

/* Small screen devices (595px and above) */
@media only screen and (min-width: 595px) {
  .herosection{
    .centered{
      padding: 5px 10px;
      width: 85%;
      h1{
        font-size: 3rem;
      }
      p{
        font-size: 0.8rem;
      }
    }
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .herosection{
    .centered{
      h1{
        font-size: 3.5rem;
      }
      p{
        font-size: 1rem;
      }
    }
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .herosection{
    .centered{
      h1{
        font-size: 4rem;
      }
      p{
        font-size: 1rem;
      }
      .upsale-button {
        width: 20% !important;
        font-size: 1.3rem;
      }
    }
  }
}
