<div class="main">
  <div class="formclass">
    <h1>Login</h1>
    <form (ngSubmit)="loginUser()" [formGroup]="myGroup" style="width: 150%;">
      <small>{{ msg }}</small>
      <div style="display: flex; justify-content: center">
        <mat-form-field appearance="outline" style="display: flex; width: 60%">
          <mat-label>Email</mat-label>
          <mat-error *ngIf="myGroup.get('inputEmail')">Email is required</mat-error>

          <input
            matInput
            name="email"
            placeholder="Ex. pat@example.com"
            formControlName="inputEmail"
            [(ngModel)]="login.email"
          />
        </mat-form-field>
      </div>
      <div style="display: flex; justify-content: center">
        <mat-form-field appearance="outline" style="display: flex; width: 60%">
          <mat-label>Password</mat-label>
          <mat-error *ngIf="myGroup.get('inputPassword')">Paasword is required</mat-error>
          <mat-error *ngIf="myGroup.get('maxLength')"> is required</mat-error>
          <mat-error *ngIf="myGroup.get('inputPassword.minLength')"> required</mat-error>

          <input
            matInput
            name="password"
            [type]="hide ? 'password' : 'text'"
            formControlName="inputPassword"
            [(ngModel)]="login.password"
          />
          <mat-icon (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide" matSuffix>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          <!-- <button
            mat-icon-button
            
            
          >
            
          </button> -->
        </mat-form-field>
      </div>
      <div class="btnclass" style="display: flex; flex-direction: column">
        <div class="btn1">
          <button mat-stroked-button type="submit" color="primary" class="log">
            Log In
          </button>
        </div>
        <div class="btn1" style="margin-top: 15px;">
          <span> New User? </span> <span>Register</span>
          <a
            routerLink="/register"
            routerLink="/patient/register"
            routerLinkActive="active current"
          >
            here
        </a>
        </div>
      </div>
    </form>
  </div>
  <div class="svg">
    <img src="./assets/image/Ambulance.gif" alt="" />
  </div>
</div>
