.example-card {
  max-width: 400px;
  margin-left: 25%;
  // margin-top: 5%;
  margin-bottom: 25%;
  margin-right: 25%;
  position: fixed;
  margin-top: 25px;
  border-top: 5px solid #2d3663;
  width: 100vw;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.profile {
  padding: 10%;
}

.mainprofile {
  // display: flex;
  // display: flex;
  // width: 60%;
  // margin-right: auto;
  // position: absolute;
  // margin-top: 5%;
  // margin-left: 5%;

  // display: flex;
  width: 40%;
  margin-left: 30%;
  // margin-right: 50%;
  margin-top: 10%;
  position: absolute;

  .profileinfo {
    border-radius: 5px;
    padding: 70px;
    box-shadow: 10px 15px 25px -7px darkgray;
    background: #cff5e7;
    border-top: 5px solid #59c1bd;
    .nameandqualificatio {
      display: flex;
      flex-direction: column;
      h2 {
        color: #2d3663;
        i {
          margin-right: 15px !important;
          color: #47ccc8;
        }
        i,
        span {
          color: #47ccc8;
        }
      }
    }
    .basicinfo {
      color: #2d3663;
      span {
        font-weight: 500;
      }
    }
    .contact {
      h4 {
        color: #2d3663;
        i {
          color: #47ccc8;
        }
      }
    }
    .social {
      display: flex;
      justify-content: space-around;
      margin-top: 18px;
      .fa-brands:hover {
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        background-color: #47ccc8;
        color: #fff;
      }
      i {
        font-size: 25px;
        border-radius: 8px;
        padding: 15px;
      }
      .face {
        color: #3b5998;
      }
      .twitt {
        color: #00acee;
      }
      .link {
        color: #0077b5;
      }
    }
  }
}
