<div class="maincardclass">
  <div class="leftcardclass">
    <h2>World Leader <br /><span>In Diagnostics</span></h2>
    <p>
      Health Promotion, Disease Prevention, Evidence Based Treatment and Quality
      Care at a Reasonable Cost in Partnership with the Community Health and
      Wellness of the Community We Serve
    </p>
    <button mat-flat-button color="primary">
      Book Demo
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <div class="rightcardclass">
    <div class="grid-container">
      <div class="grid-item none">
        <img src="./assets/image/stomach.png" alt="Heart image" />
        <h6>Gastroenterology</h6>
      </div>
      <div class="grid-item">
        <img src="./assets/image/heart.png" alt="Heart image" />
        <h6>Cardiology</h6>
      </div>
      <div class="grid-item none">
        <img src="./assets/image/bloodtest.png" alt="Heart image" />
        <h6>Blood Test</h6>
      </div>
      <div class="grid-item">
        <img src="./assets/image/brain.png" alt="Heart image" />
        <h6>Neurosurgery</h6>
      </div>
      <div class="grid-item">
        <img src="./assets/image/orthopedic.png" alt="Heart image" />
        <h6>Orthopedic</h6>
      </div>
      <div class="grid-item">
        <img src="./assets/image/surgery.png" alt="Heart image" />
        <h6>Surgery</h6>
      </div>
    </div>
  </div>
</div>
