.maincardclass {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-top: -125px;
    height: 525px;
    .leftcardclass {
      width: 25%;
      border-radius: 8px;
      padding: 10px;
      background-color: #47ccc8;
      padding: 33px 35px;
      h2 {
        color: white;
        font-size: 45px;
        //   text-align: center;
        span {
          color: #2d3663;
        }
      }
      p {
        color: #2d3663;
        font-size: 20px;
        font-weight: 100;
        //   text-align: center;
      }
      button {
        display: flex;
        width: 60%;
        background-color: #2d3663;
        border-radius: 40px;
        padding: 35px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 19px;
        &:hover {
          transition: all 0.5s ease-in-out;
          background-color: #fff;
          color: #2d3663;
          font-weight: 700;
        }
      }
    }
    .rightcardclass {
      width: 65%;
      padding: 10px;
      display: flex;
      background-color: #edf3f6;
      padding: 30px 33px;
      border-radius: 8px;
  
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        grid-gap: 5%;
        .grid-item {
          border-radius: 8px;
          padding: 20px;
          font-size: 30px;
          text-align: center;
          background-color: #fff;
          img {
            height: 150px;
          }
          h6 {
            margin: 0;
            font-weight: 500;
            color: #2d3663;
          }
          &:hover {
            transition: all 0.9s ease-out;
            background-color: #47ccc8;
            h6 {
              color: #fff;
            }
          }
        }
      }
    }
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    mat-toolbar {
      background: red !important;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    .maincardclass {
      height: 470px !important;
      .leftcardclass {
        padding: 17px 30px !important;
        margin-right: 10px !important;
        h2 {
          font-size: 25px !important;
        }
        p {
          font-size: 14px !important;
        }
        button {
          font-size: 15px !important;
          width: 100% !important;
          padding: 15px !important;
        }
      }
      .rightcardclass {
        padding: 19px 19px !important;
        .grid-container {
          grid-gap: 8px !important;
          .grid-item {
            padding: 10px !important;
            height: 150px !important;
            img {
              height: 70px !important;
            }
            h6{
              font-size: 15px !important;
            }
          }
        }
      }
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    .maincardclass {
      height: 350px !important;
      .leftcardclass {
        padding: 20px 25px !important;
        margin-right: 10px !important;
        h2 {
          font-size: 22px !important;
        }
        p {
          font-size: 13px;
        }
        button {
          padding: 20px !important;
          width: 100% !important;
          font-size: 13px !important;
        }
      }
      .rightcardclass {
        .grid-container {
          .grid-item {
            padding: 0px !important;
            font-size: 20px !important;
            img {
              height: 85px;
              padding: 15px;
            }
          }
        }
      }
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    mat-toolbar {
      background: orange !important;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    mat-toolbar {
      background: pink !important;
    }
  }
  